<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>공지쓰기</title>
<link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<form th:action="@{/admin/notice/write}" method="post">
		<br> <br>
		<div class="container text-center">
			<h1>공지 작성 하기</h1>
			<br>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">제목</span> <input
					type="text" class="form-control" placeholder="제목을 적어주세요"
					aria-label="Username" aria-describedby="basic-addon1" name="title"
					id="title">
			</div>

			<div class="input-group">
				<span class="input-group-text">내용</span>
				<textarea class="form-control" placeholder="내용을 적어주세요" aria-label="With textarea"
					name="content" id="content" rows="10"></textarea>
			</div>
			<br> <input class="btn btn-dark" type="submit" value="저장하기">
			<a class="btn btn-dark" th:href="@{/admin/notice}">뒤로가기</a>
		</div>
	</form>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>