<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div class="footer" th:fragment="footer">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    
    
        <footer class="page-footer font-small cyan darken-3 border-top shadow">
            <div class="footer-copyright text-center py-3 mt-2 mb-2 font-2-jin">
	               Funny㈜ <span class="line-jin">|</span> 대표이사 이미경 
	               <br> 사업자등록번호 111-111-1111 <span class="line-jin">|</span> 통신판매업신고번호 2023-종로C-1153 
	               <br> 서울시 종로구 인사동길 111 PDC A동 1호<br>
				   이메일 상담 info@funny.kr 유선 상담 000-0000
	        </div>
	        <div class="border-top pt-2 pb-1 text-center font-jin" >
	               @2023 Team JAVAJO PARTICIPANTS - Migyeong | Yerim | Jinseon | Seonga | Jiyun | Junho | Minchang
	        </div>
        </footer>
        
        
    </div>
</html>