<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script type="text/javascript" th:src="@{/js/header.js}"></script>

<div th:fragment="header">


  <nav class="navbar">
    <div class="navbar_logo">
         <a href="/">Funny</a>
    </div>
    <ul class="navbar_menu">
      <div class="dropdown">
        <li><a href="" class="dropbtn">카테고리</a>
          <ul class="sub_menu dropdown-content">
            <li>문구</li>
            <li>푸드</li>
            <li>출판</li>
            <li>영화</li>
            <li>여행</li>
            <li>웹툰</li>
            <li>의류</li>
            <li>예술</li>
            <li>사진</li>
            <li>음악</li>
            <li>공연</li>          

          </ul>
        </li>
     </div>
  
      <li><a href="">공지사항</a></li>
      <li><a href="/question/list">문의사항</a></li>  
    </ul>
    <ul class="navbar_login">
     <li sec:authorize="isAnonymous()" class="sub_btn"><a href="/members/login">로그인</a></li>
      <li sec:authorize="isAuthenticated()" class="sub_btn"><a href = "/members/logout">로그아웃</a></li>
      <li sec:authorize="isAuthenticated()" class="sub_btn"><a href="/members/detail">마이페이지</a></li>
      
      <li sec:authorize="isAnonymous()" class="sub_btn"><a href="/members/new">회원가입</a></li>
         <li sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/main">관리자 페이지</a></li>
         <li><div class="profile"><img src=" "></div></li>
    </ul>

    <a href="#" class="navbar_toogleBtn">
      <img src="./img/hamburger.png">
    </a>
   </nav>
   <script src="/js/header.js"></script>

</div>

</html>