body {
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color : white;
}

.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color:white;
}

.navbar_menu{
  display:flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding : 8px 12px;
}

.navbar_menu li:hover {
  background-color:#d49466;
  border-radius:4px;
}

.navbar_login {
  list-style: none;
  color:white;
  display:flex;
  padding-left: 0;
}

.navbar_login li {
  padding : 8px 12px;
}

.navbar_toogleBtn {
  display : none;
  position: absolute;
  right:32px;
  font-size: 24px;

}

.navbar_toogleBtn img {
  width: 40px;
  }



  /* 드롭다운 */
  .dropbtn {
   
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #263343;
    min-width: 300px;
    margin-top: 10px;
    border-radius: 10px;
   
    z-index: 1;
  }
  
  .dropdown-content li {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  






@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
    }
    
    .navbar_menu {
      display:none;
      flex-direction: column;
      align-items: center;
      width : 100%;
    }

    .navbar_menu li {

      width:100%;
      text-align: center;

      /* width:100%; */
      text-align: left;
  

    }

    .navbar_login {
      display:none;
      justify-content: center;
      width: 100%;
    }

    .navbar_toogleBtn{
      display: block;
    }

    .navbar_menu.active,
    .navbar_login.active{
      display:flex;
    }


    .dropdown-content {
      min-width: 200px;
    
    }

}