<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>

	
</head>

<header>
      
      </li>
      <li><a href="">홈</a></li>
      <li><a href="">공지사항</a></li>
      <li><a href="">문의사항</a></li>
      <li><a href="">프로젝트올리기</a></li>
    </ul>
    <ul class="navbar_login">
      <li><a href="/members/login">로그인</a></li>
      <li><a href="">회원가입</a></li>
    </ul>

 
 </div>
</header>

<body>


<div layout:fragment="content">



		<p id="p1">회원정보</p>


<table >

    <tr>
      <th scope="row">이메일</th>
      <td th:text="${member.Email}"></td>
    </tr>
    
        <tr>
      <th scope="row">이름</th>
      <td th:text="${member.MemName}"></td>
    </tr>
    
        <tr>
      <th scope="row">핸드폰번호</th>
      <td th:text="${member.MemPhone}"></td>
    </tr>
    
        <tr>
      <th scope="row">주소</th>
      <td th:text="${member.Zipcode}"></td>
      <td th:text="${member.StreetAdr}"></td>
      <td th:text="${member.DetailAdr}"></td>
    </tr>
    

</table>
		<a th:href="@{/members/modify}"><button>회원정보 수정하기</button></a>
		<a th:href="@{/members/delete}"><button>회원탈퇴하기</button></a>
		

<!--  
<div class="card-body">
	<div>
				<label class="form-label">현재비밀번호입력</label>
				<input type="password" id="pwd" placeholder = "현재 비밀번호를 입력" >
	</div>
	<div>		
				<label class="form-label">새로 사용할 비밀번호 입력</label>
				<input type="password" id="pwd1" placeholder = "새로운 비밀번호를 입력" >
	</div>
	<div>		
				<label class="form-label">새로 사용할 비밀번호를 한번 더 입력해주세요</label>
				<input type="password" id="pwd2" placeholder = "새로운 비밀번호를 입력" >
	</div>			
				<div id = "errormessege"></div>
				<input type="button" id="button" value="완료">
			</div>
	</div>
<div class="text-center">
<button class="btn bg-gradient-primary w-100 my-4 mb-2" id="checkPwd"> 비밀번호 확인</button>

-->




<!-- 
		<h4>이메일</h4>
		<h4 th:text="${member.Email}"></h4>
		<h4>이름</h4>
		<h4 th:text="${member.MemName}"></h4>
		<h4>핸드폰번호</h4>
		<h4 th:text="${member.MemPhone}"></h4>
		<h4>주소</h4>
		<h4 th:text="${member.Zipcode}"></h4>
		<h4 th:text="${member.StreetAdr}"></h4>
		<h4 th:text="${member.DetailAdr}"></h4>
 -->			



</html>