
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
	
	
	<th:block layout:fragment="css">
<style>

.container {
width : 800px;
}

</style>
</th:block>

<div layout:fragment="content">

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
		<th scope="col">제목</th>
		<th scope="col">글쓴이</th>
		<th scope="col">작성일시</th>
    </tr>
  </thead>
  <tbody>
  
  	<tr class="table-light"  th:each="question, loop : ${paging}">
						
							<td class="text-start">
							<span th:text="${question.boardCategory}"></span>&nbsp&nbsp<a
								th:href="@{|/question/detail/${question.id}|}"
								 th:text="${question.title}"></a> 
								
								<span
								class="text-danger small ms-2"
								th:if="${#lists.size(question.answerList) > 0}"
								th:text="${#lists.size(question.answerList)}"> </span></td>
							
							<td><span th:if="${question.member != null}"
								th:text="${question.member.memName}"></span></td>
							<td
								th:text="${#temporals.format(question.regTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
  
  </tbody>
</table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
             th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    </div>
</html>